<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577432885834-fugjjeceda7e0d63jh46148qb0a1j1ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577432885834-fugjjeceda7e0d63jh46148qb0a1j1ko</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577432885834-rqurpbp319uk5bn9oo89d6s3fj2ticdu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0tfRq0Xbeng8n8CnjG1u9t5iT3Q96D3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>577432885834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-2059e</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-2059e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577432885834:ios:a2a237e655c167fecbe4b3</string>
</dict>
</plist>